<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="fa fa-camera">
    <title>Photography</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.css">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">
    <script type="text/javascript" src="/stylesheets/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script>
        new WOW().init();
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <i class="fa fa-camera fa-3x mr-3"></i>
        <span class="mt-2">Photography<p class="sub-header">Worldwide Photography</p> </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
         
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#blog">Blog</a>
          </li>
        </ul>
        </form>
      </div>
    </div>
    </nav>

    <div class="jumbotron jumbotron-fluid d-flex align-items-center text-center">
      <div class="container">
        <p class="display-3 mt-5 mb-5 p-3 d-inline-block wow fadeIn">Welcome to <span class="d-block">Photography</span></p>
      </div>
    </div>

    <div id="blog" class="container blog text-center d-flex flex-column align-items-center">
      <h1 class="mt-5 wow slideInLeft">Start blogging today!</h1>
      <p class="sub-heading mb-5 wow slideInLeft">Post By: Photography Date: February 27, 2015 Category: Uncategorized</p>
      <div class="each-blog wow bounceInDown">
        <img src="/designs/port1.jpg">
        <p class="mt-3">With Photography, you can showcase not only your photography portfolio, but also share your opinions and thoughts on various topics. In short, join the craze and start your own blog today!</p>
        <a href="" class="btn btn-primary">Read More</a>
        <hr class="mb-5 mt-5">
      </div>
      <div class="each-blog wow bounceInDown">
        <img src="/designs/port2.jpg">
        <p class="mt-3">With Photography, you can showcase not only your photography portfolio, but also share your opinions and thoughts on various topics. In short, join the craze and start your own blog today!</p>
        <a href="" class="btn btn-primary">Read More</a>
        <hr class="mb-5 mt-5">
      </div>
      <div class="each-blog wow bounceInDown">
        <img src="/designs/port3.jpg">
        <p class="mt-3">With Photography, you can showcase not only your photography portfolio, but also share your opinions and thoughts on various topics. In short, join the craze and start your own blog today!</p>
        <a href="" class="btn btn-primary">Read More</a>
        <hr class="mb-5 mt-5">
      </div>
      <div class="each-blog wow bounceInDown">
        <img src="/designs/port4.jpg">
        <p class="mt-3">With Photography, you can showcase not only your photography portfolio, but also share your opinions and thoughts on various topics. In short, join the craze and start your own blog today!</p>
        <a href="" class="btn btn-primary">Read More</a>
        <hr class="mb-5 mt-5">
      </div>
      <div class="each-blog mb-5 wow bounceInDown">
        <img src="/designs/port5.jpg">
        <p class="mt-3">With Photography, you can showcase not only your photography portfolio, but also share your opinions and thoughts on various topics. In short, join the craze and start your own blog today!</p>
        <a href="" class="btn btn-primary">Read More</a>
      </div>
    </div>

  <!--Footer-->
  <footer style="background-color: #222;">
      <div style="background-color: #ff5500;">
          <div class="container">
              <div class="row py-4 d-flex align-items-center">
                  <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                      <h6 class="mb-0 text-white">Get connected with us on social networks!</h6>
                  </div>
                  <div class="col-md-6 col-lg-7 text-center text-md-right">
                      <a class="icons-sm fb-ic ml-0"><i class="fa fa-facebook text-white mr-4"> </i></a>
                      <a class="icons-sm tw-ic"><i class="fa fa-twitter text-white mr-4"> </i></a>
                      <a class="icons-sm gplus-ic"><i class="fa fa-google-plus text-white mr-4"> </i></a>
                      <a class="icons-sm li-ic"><i class="fa fa-linkedin text-white mr-4"> </i></a>
                      <a class="icons-sm ins-ic"><i class="fa fa-instagram text-white mr-4"> </i></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="container mt-5 mb-4 text-center text-md-left text-white">
          <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mb-r">
                  <h5 class=""><strong>Photography</strong></h5>
                  <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                      amet, consectetur adipisicing elit.</p>
              </div>
              <!--/.First column-->

              <!--Second column-->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-r">
                  <h6 class="title font-bold"><strong>Products</strong></h6>
                  <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p><a href="#!">Architechture</a></p>
                  <p><a href="#!">Architechture Flow</a></p>
                  <p><a href="#!">BrandFlow</a></p>
                  <p><a href="#!">Bootstrap Javascript</a></p>
              </div>
              <!--/.Second column-->

              <!--Third column-->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-r">
                  <h6 class="title font-bold"><strong>Useful links</strong></h6>
                  <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p><a href="#!">Your Account</a></p>
                  <p><a href="#!">Become an Affiliate</a></p>
                  <p><a href="#!">Shipping Rates</a></p>
                  <p><a href="#!">Help</a></p>
              </div>
              <!--/.Third column-->

              <!--Fourth column-->
              <div class="col-md-4 col-lg-3 col-xl-3">
                  <h6 class="title font-bold"><strong>Contact</strong></h6>
                  <hr class="bg-primary accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                  <p><i class="fa fa-home mr-3"></i> Kolkata, KL 600012, INDIA</p>
                  <p><i class="fa fa-envelope mr-3"></i> info@example.com</p>
                  <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                  <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
              </div>
              <!--/.Fourth column-->

          </div>
      </div>
      <!--/.Footer Links-->

      <!-- Copyright-->
      <div class="footer-copyright">
          <div class="container-fluid">
              <strong>Awesome Photography.</strong> All Rights Reserved <br>© 2017 Copyright: <a href="#"><strong> Photography.com</strong></a>
          </div>
      </div>
      <!--/.Copyright -->
      
  </footer>
  <!--/.Footer-->
	<script src="/stylesheets/bootstrap/js/popper.min.js"></script>
    <script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>